body {
  font-family: Arial, sans-serif;
  background-color: #fef7ed;
  margin: 0;
  display: flex; /* Use flexbox for body */
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure full viewport height */
}

.main-title {
  font-size: 30px;
  text-align: center;
  font-weight: bold;
  color: #4e1211;
}

.subtitle {
  font-size: 25px;
  text-align: center;
  font-weight: bold;
  color: #4e1211;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align all content */
  width: 100%; /* Allow full width */
  max-width: 800px; /* Set a max width for better appearance */
  margin: 0 auto; /* Center the container */
}

table {
  border-collapse: collapse;
  margin-top: 5px;
  width: 100%; /* Set table width to full */
}

th, td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center; /* Center align text within table cells */
}

th {
  background-color: #791c1a;
  color: white;
}

input[type="text"],
input[type="date"] {
  padding: 8px;
  margin: 5px;
  width: 200px; /* Set width for search input */
}

.search-bar {
  margin-bottom: 20px; /* Add space below the search bar */
  display: flex; /* Use flexbox for search bar */
  flex-direction: column; /* Stack inputs vertically */
  align-items: center; /* Center align inputs */
}
